body {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    padding: 10px;
    background: linear-gradient(to right, #7000C9, #0000ff);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .result-box {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #e6f7ff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .result-box p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px; 
  }

  .result-box span {
    color: #000; 
  }